* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garamond', sans-serif;
}

body {
    background-color: #FBFBFF;
    font-family: 'Garamond', sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background-color: #d4a373;
    margin: 20px 0;
    font-size: 3rem;
    padding: 10px;
    border-radius: 10px;
}

#telaInicial, #board {
    background-image: url("https://upload.wikimedia.org/wikipedia/pt/a/a0/GameofThrones.png");
    background-size: cover;
}

form {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #d4a373;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 10px 300px 10px 300px;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
    flex-direction: column;
    text-align: center;
    background-color: #d4a373;
    padding: 30px 40px;
    border-radius: 10px;
    margin: 10px 300px 10px 300px;
}

form>input, form>label {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
}

button:hover {
    background-color: #272932;
    color: #FBFBFF;
    cursor: pointer;
}

article p {
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

img {
    height: 235px;
    width: 180px;
    margin: 20px;
    border-radius: 15px;
}

#resultado {
    padding: 10px;
    font-size: 2rem;
    border-radius: 15px;
    background-color: #d4a373;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: row;
}